@import "../../sass/variables.scss";

.custom-title-h2 {
  margin: 0;
  color: $color-dark-shade-100;
  font-family: $ff-secondery;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
}
