mixin filter-form
  form.filter-form(action='', class= attributes.class)

    p.custom-dropdown
      label(for='')
        | даты пребывания в отеле
      input(type='text', name='', id='', value='19 авг - 23 авг', placeholder='', readonly='')

    p.custom-dropdown
      label(for='')
        | гости
      input(type='text', name='', id='', value='3 гостя, 1 младенец', placeholder='', readonly='')

    h3.custom-title-h3 Checkbox Buttons

    label.custom-checkbox(for='smoking') Можно курить
      input#smoking.visually-hidden(type='checkbox', name='smoking', value='smoking')
      span.custom-checkbox__indicator

    label.custom-checkbox(for='pets') Можно с питомцами
      input#pets.visually-hidden(type='checkbox', name='pets', value='pets' checked)
      span.custom-checkbox__indicator

    label.custom-checkbox(for='guests') Можно пригласить гостей (до 10 человек)
      input#guests.visually-hidden(type='checkbox', name='guests', value='guests' checked)
      span.custom-checkbox__indicator
