$color-green:#6fcf97;
$color-purpule: #bc9cff;
$color-dark-shade-100: #1f2041;
$color-dark-shade-75: rgba($color-dark-shade-100, 0.75);
$color-dark-shade-50: rgba($color-dark-shade-100, 0.5);
$color-dark-shade-25: rgba($color-dark-shade-100, 0.25);
$color-dark-shade-10: rgba($color-dark-shade-100, 0.1);
$color-dark-shade-5: rgba($color-dark-shade-100, 0.05);
$color-white: #fff;
$color-black: #000;
$fz-main-text: 14px;
$font-primary:  "Montserrat", "Arial", sans-serif;
$ff-secondery: "Quicksand", "Arial", sans-serif;
