.DS_Store
.idea
*.ai
*.pdf
*.psd
*.sublime*
build/
node_modules/
npm-debug.log*
Thumbs.db
.vscode/
public/bundle.js
public/bundle.js.map
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.woff binary
*.woff2 binary
*.log*
