.btn {
  display: inline-block;
  // padding: 15px 20px;

  min-width: 99px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 22px;
  outline: none;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  font-size: 12px;
  font-weight: bold;
  font-style: normal;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:disabled {
    cursor: auto;
    opacity: 1;
  }

  &--border {
    color: $color-purpule;
    border: 2px solid $color-purpule;
    background: none;
    background-color: #fff;

    &:hover,
    &:focus {
      border-color: rgba($color-purpule, 0.5);
    }
  }

  &--text {
    display: inline-block;
    padding: 0;
    color: $color-purpule;
    border: none;
    background: none;

    &:hover,
    &:focus {
      color: $color-dark-shade-50;
    }
  }

  &--arrow {
    position: relative;
    padding-right: 44px;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 44px;
      height: 44px;
      content: "";
      transform: translateY(-50%);
      background-image: url('../img/icon-arrow.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}
