.calendar {
  box-sizing: border-box;
  width: 320px;
  padding: 20px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.calendar__header {
  display: flex;

  margin-bottom: 30px;

  justify-content: space-between;
}

.calendar__title {
  margin: 0;

  text-align: center;
}

.calendar__control {
  display: block;

  width: 24px;
  height: 24px;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--prev {
    transform: rotate(180deg);

    background-image: url("/img/icon-arrow-colored.svg");
  }

  &--next {
    background-image: url("/img/icon-arrow-colored.svg");
  }
}

.calendar__content {
  margin-bottom: 20px;
}

.calendar__table {
  width: 100%;

  color: $color-dark-shade-50;

  font-size: 12px;
  line-height: 15;

  tr {
    display: flex;
  }

  th,
  td {
    display: flex;

    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;

    justify-content: center;
    align-items: center;
  }
}

.calendar__weekdays {
  color: $color-purpule;

  font-weight: bold;
}

.calendar__current-day {
  color: $color-white;
  border-radius: 50%;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

  font-weight: bold;
}

.calendar__selected-day {
  position: relative;
  z-index: 1;

  color: $color-white;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

  font-weight: bold;

  &--first {
    &::before {
      position: absolute;
      z-index: -1;
      right: 0;
      left: 50%;

      height: 100%;

      content: "";

      background: linear-gradient(180deg, rgba(#bc9cff, 0.25) 0%, rgba(#8ba4f9, 0.25) 100%);
    }
  }

  &--last {
    &::before {
      position: absolute;
      z-index: -1;
      right: 50%;
      left: 0;

      height: 100%;

      content: "";

      background: linear-gradient(180deg, rgba(#bc9cff, 0.25) 0%, rgba(#8ba4f9, 0.25) 100%);
    }
  }
}

.calendar__day-range {
  background: linear-gradient(180deg, rgba(#bc9cff, 0.25) 0%, rgba(#8ba4f9, 0.25) 100%);
}

.calendar__footer {
  display: flex;

  justify-content: space-between;
}

.calendar__another-day {
  color: $color-dark-shade-25;
}

.calendar__btn {
  text-transform: uppercase;

  border: none;
  background-color: transparent;

  font-size: 12px;
  font-weight: bold;
  line-height: 15px;

  &--reset {
    color: $color-dark-shade-50;
  }

  &--accept {
    color: $color-purpule;
  }
}
