.copyright {
  line-height: 17px;
}

.copyright__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__text {
  margin: 0;
}

.copyright__social {
  margin: 0;
}
