.custom-checkbox {
  position: relative;

  display: block;

  padding-left: 30px;

  cursor: pointer;

  color: $color-dark-shade-50;

  line-height: 18px;
}


.custom-checkbox__indicator {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  flex-shrink: 0;

  width: 20px;
  height: 20px;

  border: 1px solid $color-dark-shade-25;
  border-radius: 4px;
}

.custom-checkbox__input:checked + .custom-checkbox__indicator {
  border-color: $color-purpule;
  background-image: url("/img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 3px;
}
