.custom-checkbox {
  label {
    position: relative;

    display: flex;

    cursor: pointer;

    color: $color-dark-shade-50;

    line-height: 18px;

    &::before {
      display: block;

      width: 20px;
      height: 20px;
      margin-right: 10px;

      content: "";

      border: 1px solid $color-dark-shade-25;
      border-radius: 4px;

      flex-shrink: 0;
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      border-color: $color-purpule;
      background-image: url("/img/icon-checkbox-on.svg");
      background-repeat: no-repeat;
      background-position: 50% 3px;
    }
  }
}
