.custom-toggler {
  label {
    position: relative;

    display: flex;

    cursor: pointer;

    color: $color-dark-shade-75;

    align-items: center;

    &::before {
      display: block;

      width: 40px;
      height: 20px;
      margin-right: 10px;

      content: "";

      border: 1px solid $color-dark-shade-25;
      border-radius: 10px;

      flex-shrink: 0;
    }

    &::after {
      position: absolute;
      left: 5px;

      width: 12px;
      height: 12px;

      content: "";

      border-radius: 50%;
      background-color: $color-dark-shade-25;
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      border-color: $color-purpule;
    }

    &::after {
      left: 25px;

      background: linear-gradient(180deg, $color-purpule 0%, #8ba4f9 100%);
    }
  }
}
