.custom-toggler {
  label {
    position: relative;
    display: block;
    padding-left: 50px;
    cursor: pointer;
    color: $color-dark-shade-75;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;

    &::before {
      position: absolute;
      left: 0;
      display: block;
      box-sizing: border-box;
      width: 40px;
      height: 20px;
      content: "";
      border: 1px solid $color-dark-shade-25;
      border-radius: 10px;
      y: 0;
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      content: "";
      border-radius: 50%;
      background: $color-dark-shade-25;
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      border-color: $color-purpule;
    }

    &::after {
      left: 24px;
      background-color: $color-purpule;
    }
  }
}
