.custom-rate-btn {
  display: flex;

  padding: 0;

  list-style: none;
}

.custom-rate-btn__item {
  width: 24px;
  height: 24px;

  background-image: url("/img/icon-star-border.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  &--active {
    background-image: url("/img/icon-star.svg");
  }
}
