.footer-nav__title {
  margin: 0;
  margin-bottom: 21px;
}

.footer-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  margin-bottom: 20px;

  color: $color-dark-shade-50;

  line-height: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav__link {
  text-decoration: none;

  color: $color-dark-shade-50;
}
