.login-form {
  box-sizing: border-box;
  width: 380px;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: $color-white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.login-form__title {
  margin: 0;
  margin-bottom: 20px;
}

.login-form__text-field {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
  }
}

.login-form__btn {
  display: block;

  width: 100%;
  margin-bottom: 30px;

  line-height: 44px;
}

.login-form__isRegistered {
  display: flex;

  justify-content: space-between;
}

.login-form__question {
  color: $color-black;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.login-form__createBtn {
  line-height: 44px;
}
