.main-content {
  margin: 0;
  padding: 0;

  &--login-page {
    position: relative;

    min-height: 702px;

    background-image: url("/img/login-page-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
  }

  &--landing-page {
    position: relative;

    min-height: 830px;
    padding-top: 70px;

    background-image: url("/img/landing-page-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.main-content__login-form {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 380px;

  transform: translate(-50%, -50%);
}

.main-content__reg-form {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 380px;

  transform: translate(-50%, -50%);
}


.main-content__search-form {
  width: 380px;
}

.main-content__promo {
  position: absolute;
  bottom: 18px;

  width: 100%;
}

.main-content__promo-text {
  width: 300px;
  margin: 0;
  margin-left: auto;

  text-align: right;
}

.main-content__catalog {
  padding-top: 30px;
  padding-bottom: 70px;
}
