.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.main-nav__logo {
  margin: 0;
  margin-right: auto;
}

.main-nav__site-nav {
  margin: 0;
}

.main-nav__user-nav {
  margin: 0;
}
