.main-nav {
  padding-top: 15px;
  padding-bottom: 15px;

  background: $color-white;
  box-shadow: 0 10px 20px $color-dark-shade-5;
}

.main-nav__wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  margin-right: auto;
}
