.main-nav {
  display: flex;

  padding-top: 15px;
  padding-bottom: 15px;

  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__logo {
  margin: 0;
  margin-right: auto;
}

.main-nav__site-nav {
  margin: 0;
}

.main-nav__user-nav {
  margin: 0;
}
