.main-footer {
  background-color: $color-white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.main-footer__wrapper {
  display: flex;
  padding-top: 104px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.main-footer__desc {
  width: 260px;
}

.main-footer--creative {
  .main-footer__wrapper {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 110px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  .main-footer__desc {
    max-width: 540px;
    margin-bottom: 25px;
  }
}

.main-footer__subscribe {
  width: 260px;
}

.main-footer__social {
  margin: 0;
}
