.rate-button {
  display: flex;
  padding: 0;
  list-style: none;

  input[type="checkbox"]:checked + label {
    background-image: url('../img/icon-star.svg');
  }
}

.rate-button__star {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('../img/icon-star-border.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
