.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 380px;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.registration-form__title {
  margin: 0;
  margin-bottom: 20px;
}

.registration-form__text-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
  }
}

.registration-form__gender {
  display: flex;
  flex-wrap: wrap;
}

.registration-form__gender-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.registration-form__btn {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  line-height: 44px;
}

.registration-form__isRegistered {
  display: flex;
  justify-content: space-between;
}

.registration-form__question {
  color: $color-black;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
}

.registration-form__loginBtn {
  line-height: 44px;
}
