.search-form {
  box-sizing: border-box;
  // Времееные размеры блока
  width: 380px;
  height: 374px;
  padding: 30px;
  padding-top: 40px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
