.site-nav {
  display: flex;
  align-items: center;

  padding: 0;

  list-style: none;
}

.site-nav__item {
  margin-right: 30px;

  color: $color-dark-shade-50;

  line-height: 17px;

  &--sub-nav {
    position: relative;

    padding-right: 24px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;

      display: block;

      width: 21px;
      height: 17px;

      content: "";

      background-image: url("/img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}

.site-nav__link {
  text-decoration: none;

  color: $color-dark-shade-50;

  &--active {
    color: $color-dark-shade-75;

    font-weight: bold;
  }
}

.site-nav__sub-nav {
  display: none;
}
