.ui-kit__colors-and-text {
  display: flex;

  padding-top: 145px;
  padding-bottom: 145px;

  justify-content: space-between;
}

.colors {
  margin: 0;
  padding: 0;

  list-style: none;
}

.colors__item {
  display: flex;

  margin-bottom: 20px;

  &:last-child {
    margin: 0;
  }
}

.colors__preview {
  width: 70px;
  height: 70px;
  margin-right: 40px;

  border-radius: 6px;

  &--dark-shade-100 {
    background-color: $color-dark-shade-100;
  }

  &--dark-shade-75 {
    background-color: $color-dark-shade-75;
  }

  &--dark-shade-50 {
    background-color: $color-dark-shade-50;
  }

  &--dark-shade-25 {
    background-color: $color-dark-shade-25;
  }

  &--dark-shade-5 {
    background-color: $color-dark-shade-5;
  }

  &--purple {
    background-color: $color-purpule;
  }

  &--green {
    background-color: $color-green;
  }
}

.colors__desc {
  display: flex;
  flex-direction: column;

  color: $color-dark-shade-100;

  font-family: $font-secondery;
  font-size: 19px;
  line-height: 29px;

  justify-content: center;
}

.colors__name {
  margin: 0;

  font-weight: bold;
}

.colors__code {
  margin: 0;

  font-weight: normal;
}


.texts {
  width: 410px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.texts__item {
  display: flex;

  margin-bottom: 50px;


  &:last-child {
    margin-bottom: 0;
  }
}

.texts__type {
  min-width: 40px;
  margin: 0;
  margin-right: 30px;

  text-align: right;

  color: $color-dark-shade-25;

  font-weight: normal;
}
