.ui-kit__colors-and-text {
  display: flex;

  padding-top: 145px;
  padding-bottom: 145px;

  justify-content: space-between;
}


.ui-kit__form-elements {
  padding-top: 145px;
  padding-bottom: 145px;
}
