.ui-kit__colors-and-text {
  display: flex;

  padding-top: 145px;
  padding-bottom: 145px;

  justify-content: space-between;
}


.ui-kit__form-elements {
  display: flex;

  padding-top: 145px;
  padding-bottom: 145px;

  justify-content: space-between;
}

.ui-kit__column {
  width: 320px;
}

.ui-kit__cards {
  background-color: #f4f4f6;

  .container {
    display: flex;

    justify-content: space-between;
  }
}

.ui-kit__column-m {
  width: 380px;
  padding-top: 150px;
  padding-bottom: 140px;
}

.ui-kit__headers-adn-footers {
  padding-top: 150px;
  padding-bottom: 130px;

  background-color: #f4f4f6;
}
