.user-nav {
  display: flex;
  align-items: center;

  &--logined {
    position: relative;

    padding-left: 30px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      width: 1px;
      height: 30px;

      content: "";
      transform: translateY(-50%);

      background-color: $color-dark-shade-10;
    }
  }
}

.user-nav__btn {
  display: block;

  margin-right: 20px;

  line-height: 34px;

  &:last-of-type {
    margin-right: 0;
  }
}

.user-nav__username {
  text-decoration: none;

  color: $color-dark-shade-50;

  line-height: 17px;
}
