include ../custom-text-field/custom-text-field

mixin subscribe-widget
  form.subscribe(action='#', method='post' class= attributes.class)
    h3.subscribe__title.custom-title-h3 Subscribe to our newsletter
    p.subscribe__text Receive our latest news and promotions in your inbox!
    +custom-text-field({
      label: `Subscribe to our newsletter`,
      isLabelShown: 0,
      name: `subscribe`,
      id: `subscribe`,
      type: `email`,
      placeholder: `Your email address`,
      button: 1
    })(class="subscribe__field")
