mixin social
  ul.social(class= attributes.class)
    li.social__item
      a.social__link.social__link--twitter(href='#')
        span.visually-hidden Наш Твиттер
    li.social__item
      a.social__link.social__link--facebook(href='#')
        span.visually-hidden Наша страница в Фейсбуке
    li.social__item
      a.social__link.social__link--instagram(href='#')
        span.visually-hidden Наш профиль в Инстаграм
