mixin social
  ul.social(class= attributes.class)
    li.social__item
      a.social__link.social__link--tw(href='#')
        span.visually-hidden Мы в твиттере
    li.social__item
      a.social__link.social__link--fb(href='#')
        span.visually-hidden Мы в фейсбуке
    li.social__item
      a.social__link.social__link--inst(href='#')
        span.visually-hidden Мы в инстаграме
