extends common/layout

block variables
  - var pageTitle = "Каталог"

block content
  main.main-content
    .main-content__catalog.container.catalog
      form.catalog__filter(action='')
        p.custom-dropdown
          label(for='')
            | даты пребывания в отеле
          input(type='text', name='', id='', value='19 авг - 23 авг', placeholder='', readonly='')
        p.custom-dropdown
          label(for='')
            | гости
          input(type='text', name='', id='', value='3 гостя, 1 младенец', placeholder='', readonly='')
        h3.custom-title-h3 Checkbox Buttons
        p.custom-checkbox
          input#smoking.visually-hidden(type='checkbox', name='smoking', value='smoking')
          label(for='smoking') Можно курить
        p.custom-checkbox
          input#pets.visually-hidden(type='checkbox', name='pets', value='pets', checked='')
          label(for='pets') Можно с питомцами
        p.custom-checkbox
          input#guests.visually-hidden(type='checkbox', name='guests', value='guests', checked='')
          label(for='guests') Можно пригласить гостей (до 10 человек)
      section.catalog__content
        h1.catalog__title.custom-title-h1 Номера, которые мы для вас подобрали
        ul.catalog__list
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-888.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 888
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 9 990₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 145
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-840.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 840
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 9 900₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 65
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-980.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 980
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 8 500₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 35
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-856.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 856
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 7 3000₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 19
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-740.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 740
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 6 000₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 44
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-982.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 982
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 5 800₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 56
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-678.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 678
                    span.hotel-card__luxe люкс
                  p.hotel-card__price
                    span 5 500₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 45
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-450.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 450
                  p.hotel-card__price
                    span 5 300₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 39
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-350.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 350
                  p.hotel-card__price
                    span 5 000₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 77
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-666.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 666
                  p.hotel-card__price
                    span 5 000₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 25
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-444.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 444
                  p.hotel-card__price
                    span 5 000₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 15
                    |  Отзывов
          li.catalog__item
            article.hotel-card
              .hotel-card__gallery
                img(src='/img/hotel-preview-352.jpg', alt='')
              .hotel-card__desc
                .hotel-card__info
                  h2.hotel-card__number
                    | №
                    span.hotel-card__number-value.custom-title-h2 352
                  p.hotel-card__price
                    span 5 000₽
                    |  в сутки
                .hotel-card__rate
                  ul.hotel-card__rate-btn.custom-rate-btn
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                    li.custom-rate-btn__item.custom-rate-btn__item--active
                  p.hotel-card__feedback
                    span 55
                    |  Отзывов
        .catalog__pagination
          .pagination
            ul.pagination__list
              li.pagination__item
                a.pagination__link.pagination__link--current(href='#') 1
              li.pagination__item
                a.pagination__link(href='#') 2
              li.pagination__item
                a.pagination__link(href='#') 3
              li.pagination__item
                a.pagination__link(href='#') ...
              li.pagination__item
                a.pagination__link(href='#') 15
              li.pagination__item
                a.pagination__link.pagination__link--next(href='#')
                  span.visually-hidden Следующая страница
            p.pagination__label 1 – 12 из 100+ вариантов аренды
