extends common/layout
include components/pagination/pagination
include components/hotel-card/hotel-card
include components/filter-form/filter-form

block variables
  - var pageTitle = "Каталог"

block content
  main.main-content
    .main-content__catalog.container.catalog
      +filter-form(class="catalog__filter")

      section.catalog__content
        h1.catalog__title.custom-title-h1 Номера, которые мы для вас подобрали

        ul.catalog__list
          li.catalog__item
            +hotel-card

          li.catalog__item

            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

          li.catalog__item
            +hotel-card

        .catalog__pagination
          // Постраничная навигация
          +pagination
