include ./components/custom-bullet-list/custom-bullet-list
include ./components/main-nav/main-nav
include ./components/copyright/copyright
include ./components/login-form/login-form
include ./components/main-footer/main-footer
include ./components/main-footer/main-footer-creative

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Поиск номеров в отеле
    link(src="style.css" rel="stylesheet")

  body
    header.main-header
      +main-nav(class="main-header__nav")

    main
    +main-footer
    +main-footer-creative
    script(src="main.js")
