include ./components/custom-bullet-list/custom-bullet-list
include ./components/main-nav/main-nav
include ./components/copyright/copyright
include ./components/login-form/login-form
include ./components/main-footer/main-footer
include ./components/main-footer/main-footer-creative
include ./components/rate-button/rate-button


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Headers & footers

  body
    header.main-header
      +main-nav({isLogined: 0})(class="main-header__nav")

    main
    +main-footer
    script(src="main.js")
