doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Поиск номеров в отеле
    link(src="style.css" rel="stylesheet")

  body
    header
      include ./components/main-nav/main-nav
    main
    footer
    script(src="main.js")
