extends common/layout

block variables
  - var pageTitle = "Вход"

block content
  main.main-content.main-content--login-page
    h1.visually-hidden Страница входа в аккаунт

    // Форма Логина
    +login-form(class="main-content__login-form")
