include ./components/main-nav/main-nav
include ./components/main-footer/main-footer
include ./components/login-form/login-form



doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title UI KIT

  body
    header.main-header
      +main-nav({isLogined: 0})(class="main-header__nav")

    main.main-content
      div.main-content__login
        +login-form(class="main-content__login-form")

    +main-footer
