include ./components/main-nav/main-nav
include ./components/main-footer/main-footer
include ./components/registration-form/registration-form



doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title UI KIT

  body
    header.main-header
      +main-nav({isLogined: 0})(class="main-header__nav")

    main.main-content
      div.main-content__login
        +registration-form(class="main-content__registration-form")

    +main-footer
