extends common/layout

block variables
  - var pageTitle = "Регистрация"

block content
  main.main-content.main-content--login-page
    h1.visually-hidden Страница регистранции аккаунта

    // Форма регистрации
    +reg-form(class="main-content__reg-form")
