include ./components/main-nav/main-nav
include ./components/login-form/login-form
include ./components/main-footer/main-footer
include ./components/registration-form/registration-form
include ./components/main-footer/main-footer-creative
include ./components/custom-text-field/custom-text-field
include ./components/custom-checkbox/custom-checkbox
include ./components/calendar/calendar
include ./components/rate-button/rate-button
include ./components/hotel-card/hotel-card



doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title UI KIT

  body.ui-kit
    .ui-kit__wrapper.container
      .ui-kit__color-list
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-100
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 100%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-75
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 75%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-50
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 50%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-25
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 25%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-5
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 5%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--purple
          .ui-kit__color-desc
            .ui-kit__color-title Purple
            .ui-kit__color-code #bc9cff
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--green
          .ui-kit__color-desc
            .ui-kit__color-title Green
            .ui-kit__color-code #6fcf97

      .ui-kit__texts
        .ui-kit__text-item.custom-title-h1
          .ui-kit__text-type H1
          .ui-kit__text_desc
            | This one is the sub-section or widget title
        .ui-kit__text-item.custom-title-h2
          .ui-kit__text-type H2
          .ui-kit__text_desc
            | Next one is the item title inside widgets
        .ui-kit__text-item.custom-title-h3
          .ui-kit__text-type H3
          .ui-kit__text_desc
            | This is a label or CTA text
        .ui-kit__text-item
          .ui-kit__text-type Body
          .ui-kit__text_desc
            | This is the body text which is used for most of the design, like paragraphs, lists, etc.

    .ui-kit__wrapper.container
      .ui-kit__column
        +custom-text-field({
        label: `Text Field`,
        isLabelShown: 1,
        type: `email`,
        placeholder: `Email`
        })(class="ui-kit__element")

        +custom-text-field({
        label: `Text Field`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `Email`,
        value: `This is pretty awesome`
        })(class="ui-kit__element")

        +custom-text-field({
        label: `Dropdown`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `Сколько гостей`,
        value: ``
        })(class="ui-kit__element")

        +custom-text-field({
        label: `masked text field`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `ДД.ММ.ГГГГ`,
        value: ``
        })(class="ui-kit__element")

        +custom-text-field({
        label: `filter date dropdown`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `ДД.ММ.ГГГГ`,
        value: `19 авг - 23 авг`
        })(class="ui-kit__element")

        +custom-text-field({
        label: `subscription text field`,
        isLabelShown: 1,
        type: `email`,
        placeholder: `Email`,
        value: ``,
        button: true
        })(class="ui-kit__element")

      .ui-kit__column
        h3.custom-title-h3
        +custom-checkbox({
        label: `Можно курить`,
        id: `checkbox-1`,
        name: `1`,
        isCheked: 1
        })
      .ui-kit__column

    .ui-kit__wrapper.container
      .ui-kit__column
        .ui-kit__element
          +registration-form
      .ui-kit__column
        .ui-kit__element
          +login-form
      .ui-kit__column
        .ui-kit__element
          +calendar

        .ui-kit__element
          +hotel-card({
          number: `888`,
          price: `9 990`,
          isLuxe: 1,
          feedbackNumber: `145`
          })

        .ui-kit__element
          +hotel-card({
          number: `840`,
          price: `9 900`,
          isLuxe: 0,
          feedbackNumber: `65`
          })

    .ui-kit__element
      +main-nav({isLogined: 0})(class="main-header__nav")
    .ui-kit__element
      +main-nav({isLogined: 1})(class="main-header__nav")
    .ui-kit__element
      +main-footer
    .ui-kit__element
      +main-footer-creative
