include ./components/main-nav/main-nav
include ./components/login-form/login-form
include ./components/main-footer/main-footer
include ./components/registration-form/registration-form
include ./components/main-footer/main-footer-creative
include ./components/custom-text-field/custom-text-field
include ./components/custom-checkbox/custom-checkbox
include ./components/custom-radiobutton/custom-radiobutton
include ./components/calendar/calendar
include ./components/rate-button/rate-button
include ./components/hotel-card/hotel-card
include ./components/custom-toggler/custom-toggler
include ./components/custom-range-slider/custom-range-slider
include ./components/like-button/like-button
include ./components/logotype/logotype
include ./components/site-nav/site-nav
include ./components/user-nav/user-nav

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title UI KIT

  body.ui-kit
    .ui-kit__wrapper.container
      .ui-kit__color-list
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-100
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 100%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-75
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 75%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-50
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 50%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-25
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 25%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--dark-5
          .ui-kit__color-desc
            .ui-kit__color-title Dark Shade 5%
            .ui-kit__color-code #1F2041
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--purple
          .ui-kit__color-desc
            .ui-kit__color-title Purple
            .ui-kit__color-code #bc9cff
        .ui-kit__color-item
          .ui-kit__color-preview.ui-kit__color-preview--green
          .ui-kit__color-desc
            .ui-kit__color-title Green
            .ui-kit__color-code #6fcf97

      .ui-kit__texts
        .ui-kit__text-item.custom-title-h1
          .ui-kit__text-type H1
          .ui-kit__text_desc
            | This one is the sub-section or widget title
        .ui-kit__text-item.custom-title-h2
          .ui-kit__text-type H2
          .ui-kit__text_desc
            | Next one is the item title inside widgets
        .ui-kit__text-item.custom-title-h3
          .ui-kit__text-type H3
          .ui-kit__text_desc
            | This is a label or CTA text
        .ui-kit__text-item
          .ui-kit__text-type Body
          .ui-kit__text_desc
            | This is the body text which is used for most of the design, like paragraphs, lists, etc.

    .ui-kit__wrapper.container
      .ui-kit__column
        +custom-text-field({
        label: `Text Field`,
        isLabelShown: 1,
        type: `email`,
        placeholder: `Email`
        })(class="ui-kit__element")

        +custom-text-field({
        label: `Text Field`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `Email`,
        value: `This is pretty awesome`
        })(class="ui-kit__element")

        +custom-text-field({
        label: `Dropdown`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `Сколько гостей`,
        value: ``
        })(class="ui-kit__element")

        +custom-text-field({
        label: `masked text field`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `ДД.ММ.ГГГГ`,
        value: ``
        })(class="ui-kit__element")

        +custom-text-field({
        label: `filter date dropdown`,
        isLabelShown: 1,
        type: `text`,
        placeholder: `ДД.ММ.ГГГГ`,
        value: `19 авг - 23 авг`
        })(class="ui-kit__element")

        +custom-text-field({
        label: `subscription text field`,
        isLabelShown: 1,
        type: `email`,
        placeholder: `Email`,
        value: ``,
        button: true
        })(class="ui-kit__element")

      .ui-kit__column
        .ui-kit__element
          h3.custom-title-h3 Checkbox Buttons
          +custom-checkbox({
          label: `Можно курить`,
          id: `checkbox-1`,
          name: `1`
          })
          +custom-checkbox({
          label: `Можно с питомцами`,
          id: `checkbox-2`,
          name: `2`,
          isChecked: 1
          })
          +custom-checkbox({
          label: `Можно пригласить гостей (до 10 человек)`,
          id: `checkbox-3`,
          name: `3`,
          isChecked: 1
          })
        .ui-kit__element
          h3.custom-title-h3 Radio Buttons
          +custom-radiobutton({
          label: `Мужчина`,
          name: `gender`,
          id: `male`,
          value: `male`,
          isChecked: 1
          })
          +custom-radiobutton({
          label: `Женщина`,
          name: `gender`,
          id: `female`,
          value: `female`
          })
        .ui-kit__element
          h3.custom-title-h3 Toggle
          +custom-toggler({
          label: `Получать спецпредложения`,
          isChecked: 1,
          id: `toggler-1`
          })
          +custom-toggler({
          label: `Получать спецпредложения`,
          id: `toggler-2`
          })
        .ui-kit__element
          h3.custom-title-h3 like button
          +like-button({
          label: `2`,
          id: `like-button-1`
          })
          +like-button({
          label: `12`,
          id: `like-button-2`,
          isChecked: 1
          })
      .ui-kit__column
        .ui-kit__element
          +custom-range-slider({
          label: `Range Slider`,
          value: `5 000₽ - 10 000₽`
          })

    .ui-kit__wrapper.container
      .ui-kit__column
        .ui-kit__element
          +registration-form
      .ui-kit__column
        .ui-kit__element
          +login-form
      .ui-kit__column
        .ui-kit__element
          +calendar

        .ui-kit__element
          +hotel-card({
          number: `888`,
          price: `9 990`,
          isLuxe: 1,
          feedbackNumber: `145`
          })

        .ui-kit__element
          +hotel-card({
          number: `840`,
          price: `9 900`,
          isLuxe: 0,
          feedbackNumber: `65`
          })

    .ui-kit__element
      //- Главное меню не с залогиненым пользователем
      nav.main-nav
        div.main-nav__wrapper.container
          //- Логотип
          +logotype(class="main-nav__logo")
          //- Навигация по сайту
          +site-nav([{
          label: `Home`,
          url: `#`,
          isActive: 1
          },{
          label: `About Us`,
          url: `#`,
          isActive: 0
          },{
          label: `Services`,
          url: `#`,
          isActive: 0
          },{
          label: `Careers`,
          url: `#`,
          isActive: 0
          },{
          label: `News`,
          url: `#`,
          isActive: 0
          },{
          label: `Documentation`,
          url: `#`,
          isActive: 0
          }])(class="main-nav__site-nav")

          .user-nav
            +button-link({label: `Login`, mod: `border`, url: `login.html`})(class="user-nav__btn")
            +button-link({label: `REGISTER`, url: `registration.html`})(class="user-nav__btn")

    .ui-kit__element
      //- Главное меню с залогиненым пользователем
      nav.main-nav
        div.main-nav__wrapper.container
          //- Логотип
          +logotype(class="main-nav__logo")
          //- Навигация по сайту
          +site-nav([{
          label: `Home`,
          url: `#`,
          isActive: 1
          },{
          label: `About Us`,
          url: `#`,
          isActive: 0
          },{
          label: `Services`,
          url: `#`,
          isActive: 0
          },{
          label: `Careers`,
          url: `#`,
          isActive: 0
          },{
          label: `News`,
          url: `#`,
          isActive: 0
          },{
          label: `Documentation`,
          url: `#`,
          isActive: 0
          }])(class="main-nav__site-nav")

          .user-nav.user-nav--logined
            a.user-nav__username(href="#") Cosmin Negoita

    .ui-kit__element
      //- обычный футер
      +main-footer
    .ui-kit__element
      //- минималистичный футер
      +main-footer-creative
