@import "../../sass/variables.scss";

.social {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--tw {
    background-image: url('./img/icon-twitter.svg');
  }

  &--fb {
    background-image: url('./img/icon-facebook.svg');
  }

  &--inst {
    background-image: url('./img/icon-instagram.svg');
  }
}
