include ../logotype/logotype

mixin small-desc-widget
  div.small-desc-widget(class= attributes.class)
    +logotype(class="small-desc-widget__logotype")
    p.small-desc-widget__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
