mixin login-form
  form.login-form(action='#', method='post', class= attributes.class)

    h2.login-form__title.custom-title-h1 Войти

    // Поле Email пользователя
    +custom-text-field({
      className: "login-form__text-field",
      label: "Email пользователя",
      isLabelShown: 0,
      id: "user-email",
      type: "email",
      name: "user-email",
      value: "",
      placeholder: "Email"
    })

    // Поле Пароль пользователя
    +custom-text-field({
      className: "login-form__text-field",
      label: "Пароль пользователя",
      isLabelShown: 0,
      id: "user-password",
      type: "password",
      name: "user-password",
      value: "",
      placeholder: "Пароль"
    })

    button.login-form__btn.btn.btn--arrow(type='submit') войти

    p.login-form__is-logined
      | Нет аккаунта на Toxin?
      a.login-form__reg-btn.btn.btn--border(href='registration.html') создать
