extends ../common/layout

include ../components/pagination/pagination
include ../components/hotel-card/hotel-card
include ../components/filter-form/filter-form

block variables
  - var pageTitle = "Каталог";

  //- Массив данных о номерах отеля
  - var hotelsData = [
  -  { number: "888", price: "9 990", feedback: "145", isLuxe: true },
  -  { number: "840", price: "9 900", feedback: "65" },
  -  { number: "980", price: "8 500", feedback: "35", isLuxe: true },
  -  { number: "856", price: "7 300", feedback: "19" },
  -  { number: "740", price: "6 000", feedback: "44" },
  -  { number: "982", price: "5 800", feedback: "56" },
  -  { number: "678", price: "5 500", feedback: "45" },
  -  { number: "450", price: "5 300", feedback: "39" },
  -  { number: "350", price: "5 000", feedback: "77" },
  -  { number: "666", price: "5 000", feedback: "25" },
  -  { number: "444", price: "5 000", feedback: "15" },
  -  { number: "352", price: "5 000", feedback: "55" }
  - ];

block content
  main.main-content
    .main-content__catalog.container.catalog
      // Форма фильтрации отелей
      .catalog__filter
        +filter-form

      section.catalog__content
        h1.catalog__title.custom-title-h1 Номера, которые мы для вас подобрали

        // Список номеров
        ul.catalog__list
          each hotel in hotelsData
            li.catalog__item
              +hotel-card(hotel)

        // Постраничная навигация
        .catalog__pagination
          +pagination
