doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Поиск номеров в отеле
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet")
  body
    header
      h1.custom-title-h3 Hello World!
    main(class="main")
    footer(class="footer container")
    script()
