extends ../common/layout

block variables
  - var pageTitle = "Найдём номера под ваши пожелания"

block content
  main.main-content.main-content--landing-page
    h1.visually-hidden Найдём номера под ваши пожелания
    .main-content__wrapper.container

      // Форма Поиска
      .main-content__search-form
        +search-form

    .main-content__promo
      .container
        p.main-content__promo-text Лучшие номера для вашей работы, отдыха и просто вдохновения
