mixin hotel-card(options)

  article.hotel-card
    figure.hotel-card__gallery
      p.hotel-card__photo.hotel-card__photo--active
        img.hotel-card__img(src="img/hotel-preview-1.jpg" width="270" height="152")
    div.hotel-card__desc
      div.hotel-card__info
        p.hotel-card__number= `№ ${options.number}`
          if options.isLuxe
            span.hotel-card__luxe люкс
        p.hotel-card__price
          span.hotel-card__price-value= `${options.price} ₽`
          | в сутки
      div.hotel-card__rate
        +rate-button(options.number)(class="hotel-card__rate-button")
        p.hotel-card__feedback
          span.hotel-card__feedback--number= options.feedbackNumber
          | Отзывов
