include ../logotype/logotype
include ../site-nav/site-nav
include ../user-nav/user-nav

mixin main-nav(options)
  nav.main-nav(class= attributes.class)
    div.main-nav__wrapper.container

      +logotype(class="main-nav__logo")
      +site-nav([{
      label: `О нас`,
      url: `#`,
      isActive: 0
      },{
      label: `Услуги`,
      url: `#`,
      isActive: 0
      },{
      label: `Вакансии`,
      url: `#`,
      isActive: 0
      },{
      label: `Новости`,
      url: `#`,
      isActive: 0
      },{
      label: `Соглашения`,
      url: `#`,
      isActive: 0
      }])(class="main-nav__site-nav")
      +user-nav(options)(class="main-nav__user-nav")
