include ../custom-text-field/custom-text-field
include ../custom-radio/custom-radio
include ../custom-toggler/custom-toggler

mixin reg-form
  form.reg-form(action='#', method='post', class= attributes.class)
    h2.reg-form__title.custom-title-h1 Регистрация аккаунта

    //- Поле Имя пользователя
    .reg-form__text-field
      +custom-text-field({
        label: "Имя пользователя",
        isLabelShown: false,
        type: "text",
        id: "user-name",
        name: "user-name",
        value: "",
        placeholder: "Имя"
      })

    //- Поле Фамилия пользователя
    .reg-form__text-field
      +custom-text-field({
        label: "Фамилия пользователя",
        isLabelShown: false,
        type: "text",
        id: "user-surname",
        name: "user-surname",
        value: "",
        placeholder: "Фамилия"
      })

    //- Выбор пола
    .reg-form__gender
      .reg-form__radiobtn
        +custom-radio({
          label: "Мужчина",
          id: "male",
          name: "gender",
          value: "male",
          checked: true
        })
      .reg-form__radiobtn
        +custom-radio({
          label: "Женщина",
          id: "female",
          name: "gender",
          value: "female",
          checked: false
        })

    //- Поле дата рождения
    .reg-form__text-field.reg-form__birthdate
      +custom-text-field({
        label: "Дата рождения",
        isLabelShown: true,
        type: "text",
        id: "user-birthdate",
        name: "user-birthdate",
        value: "",
        placeholder: "ДД.ММ.ГГГГ"
      })

    .reg-form__login-data
      h3.reg-form__label.custom-title-h3 данные для входа в сервис

      //- Поле Email пользователя
      .reg-form__text-field
        +custom-text-field({
          label: "Email пользователя",
          isLabelShown: false,
          type: "email",
          id: "user-email",
          name: "user-email",
          value: "",
          placeholder: "Email"
        })

      //- Поле Пароль пользователя
      .reg-form__text-field
        +custom-text-field({
          label: "Пароль пользователя",
          isLabelShown: false,
          type: "password",
          id: "user-password",
          name: "user-password",
          value: "",
          placeholder: "Пароль"
        })

      //- Переключатель подписки на рассылку
      .reg-form__toggler
        +custom-toggler({
          label: "Получать спецпредложения",
          id: "reg-form-subsribe-toggler",
          name: "reg-form-subsribe-toggler",
          value: "",
          checked: false
        })

    // Кнопка отправки формы "Перейти к оплате"
    .reg-form__btn
        button.btn.btn--arrow(type='submit') перейти к оплате

    p.reg-form__is-logined
      | Уже есть аккаунт на Toxin
      a.reg-form__login-btn.btn.btn--border(href='login.html') Войти
