include ../calendar/calendar

mixin search-form
  form.search-form(action='#', method='post', class= attributes.class)
    h2.search-form__title.custom-title-h1 Найдём номера под ваши пожелания
    .search-form__date.date-dropdown

      +calendar(class="date-dropdown__popup")

      p.date-dropdown__item.custom-dropdown
        label(for='arrival-date')
          | прибытие
        input#arrival-date(type='text', name='arrival-date', value='ДД.ММ.ГГГГ', placeholder='', readonly='')
      p.date-dropdown__item.custom-dropdown
        label(for='departure-date')
          | выезд
        input#departure-date(type='text', name='departure-date', value='ДД.ММ.ГГГГ', placeholder='', readonly='')

    p.search-form__guests.custom-dropdown
      label(for='guests-number')
        | гости
      input#guests-number(type='text', name='guests-number', value='Сколько гостей', placeholder='', readonly='')

    button.search-form__btn.btn.btn--arrow(type='submit') подобрать номер
