include ../calendar/calendar
include ../custom-dropdown/custom-dropdown

mixin search-form
  form.search-form(action='#', method='post', class= attributes.class)
    h2.search-form__title.custom-title-h1 Найдём номера под ваши пожелания

    // Выбор дадты заезда/выезда с выпадающим календарём
    .search-form__date
      .date-dropdown
        +calendar(class="date-dropdown__popup")
        .date-dropdown__item
          .custom-dropdown
            h3.custom-dropdown__label
              | прибытие
            button.custom-dropdown__toggle(type="button" name="arrival-date")
              | ДД.ММ.ГГГГ
            .custom-dropdown__menu
        .date-dropdown__item
          .custom-dropdown
            h3.custom-dropdown__label
              | выезд
            button.custom-dropdown__toggle(type="button" name="departure-date")
              | ДД.ММ.ГГГГ
            .custom-dropdown__menu

    // Выподающее меню по количеству гостей
    .search-form__guests
      .custom-dropdown
        h3.custom-dropdown__label
          | гости
        button.custom-dropdown__toggle(type="button" name="guests-number")
          | Сколько гостей
        .custom-dropdown__menu

    // Кнопка отправки формы "Подобрать номер"
    .search-form__btn
      button.btn.btn--arrow(type='submit') подобрать номер
