include ../button/button-link

mixin user-nav(otions)
  .user-nav(class= attributes.class class= otions.isLogined ? `user-nav--logined` : ``)
    if otions.isLogined
      a.user-nav__username(href="#") Cosmin Negoita
    else
      +button-link({label: `Login`, mod: `border`, url: `#`})(class="user-nav__btn")
      +button-link({label: `REGISTER`, url: `#`})(class="user-nav__btn")
