include ../components/social/social
include ../components/logo/logo
include ../components/footer-nav/footer-nav

footer.main-footer
  .container
    .main-footer__wrapper
      // Краткое описание в футере
      .main-footer__desc
        // Логотип
        .main-footer__logo
          +logo
        p.main-footer__desc-text
          | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

      // Навигация в футере
      .main-footer__nav
        +footer-nav({
          title: "Навигация",
          items: [
            {text: "О нас", href: "#"},
            {text: "Новости", href: "#"},
            {text: "Служба поддержки", href: "#"},
            {text: "Услуги", href: "#"}
          ]
        })

      // Навигация в футере
      .main-footer__nav
        +footer-nav({
            title: "О нас",
            items: [
              {text: "О сервисе", href: "#"},
              {text: "Наша команда", href: "#"},
              {text: "Вакансии", href: "#"},
              {text: "Инвесторы", href: "#"}
            ]
          })
      // Навигация в футере
      .main-footer__nav
        +footer-nav({
            title: "Служба поддержки",
            items: [
              {text: "Соглашения", href: "#"},
              {text: "Сообщества", href: "#"},
              {text: "Связь с нами", href: "#"}
            ]
          })

      // Виджет подписки
      .main-footer__subscribe
        form.subscribe-widget(action='#', method='post')
          h3.subscribe-widget__title.custom-title-h3 Подписка
          p.subscribe-widget__text Получайте специальные предложения и новости сервиса

          .subscribe-widget__text-field
            .custom-text-field.custom-text-field--subscribe
              label.custom-text-field__label.visually-hidden(for='subscribe-email')
                | Подписка на рассылку
              input.custom-text-field__input(type='email', name='subscribe-email', id='subscribe-email', value='', placeholder='Email')
              button.custom-text-field__button(type='submit')
                span.visually-hidden Подписаться на рассылку
  .main-footer__copyright
    .container
      .copyright
        .copyright__wrapper
          p.copyright__text Copyright © 2018 Toxin отель. Все права зачищены.

          // Социальные ссылки
          +social(class="copyright__social")
