include ../components/logo/logo

header.main-header
  nav.main-nav.container

    // Логотип
    +logo(class="main-nav__logo")

    // Навигация по сайту
    ul.main-nav__site-nav.site-nav
      li.site-nav__item
        a.site-nav__link(href='#') О нас
      li.site-nav__item.site-nav__item--sub-nav
        a.site-nav__link(href='#') Услуги
        ul.site-nav__sub-nav.sub-nav
          li.sub-nav__item
            a.sub-nav__link(href='#') ССылка
          li.sub-nav__item
            a.sub-nav__link(href='#') ССылка
          li.sub-nav__item
            a.sub-nav__link(href='#') ССылка
      li.site-nav__item
        a.site-nav__link(href='#') Вакансии
      li.site-nav__item
        a.site-nav__link(href='#') Новости
      li.site-nav__item.site-nav__item--sub-nav
        a.site-nav__link(href='#') Соглашения

    // Пользовательская навигация
    .main-nav__user-nav.user-nav
      a.user-nav__btn.btn.btn--border(href='login.html') войти
      a.user-nav__btn.btn(href='registration.html') зарегистрироваться
